/* 
    General Styles
*/

img{
    width: 5rem;
}

.card-img-top{
    width: 5rem;
}

.Planetsview{
    background: aqua;
}

.listfavourites{
    
    list-style: none;
    color:#ff6; 
    overflow: hidden;
    font-weight: bold;
   
}

.btnfavourite{
    color:#ff6;;
    margin-left: 0.5rem;
    
}



