.Descriptionplanetcard{
    width: 25rem;
    height: 20rem;
    background: black;
    color: #ff6;
    margin-top: 5rem;
    border-radius: 15%;
    
}

.descriptionimgcard{
    width: 100%;
}

.textdescriptionplanet{
    display: block;
    background: black;
}


.Generalplanet{
    margin-top: 0px;
    padding-top: 0px;
    background-image: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1771&q=80);
    height: 100vh;
}